@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@500;600;700&family=Raleway:wght@500;700&family=Urbanist:wght@100;200;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}



.navSection{
    height: 100px;
    
}
/* customize classes for styling */
.panda-background{
    background-color: #fceae8;
}
.catagoryBackground-1{
    background-color: #ffa500;
}
.catagoryBackground-2{
    background-color: #da70d6;
}
.catagoryBackground-3{
    background-color: #0000ff;
}
.button-color{
    background-color: #ff136f;
}
.text-color{
    background-color: #ff136f;
}
